<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: config(~{::title})">
    <title>Login | AuroraTrace</title>
</head>
<body style="min-height: 100vh; justify-content: center; align-items: center; flex-direction: row">

<main class="main-form" style="padding: 0;">
    <h1 style="border-bottom: none; text-align: center; margin-bottom: 0;">Acesso AuroraTrace</h1>
    <p style="text-align: center; margin-bottom: 2rem;">Utilize suas credenciais para continuar.</p>

    <form th:action="@{/login}" method="post" class="form-container">

        <div th:if="${param.error}" class="alert-error">
            E-mail ou senha inválidos. Tente novamente.
        </div>

        <div th:if="${param.logout}" class="alert-success">
            Sessão encerrada com sucesso.
        </div>

        <label for="username">E-mail:</label>
        <input type="text" id="username" name="username" placeholder="seu.email@fiap.com.br" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" placeholder="Sua senha" required>

        <button type="submit" class="btn-primary" style="margin-top: 1.5rem;">Fazer Login</button>

    </form>
</main>

</body>
</html>